html,





.Market{
  align-content: center;
    display: center;
    position:center;
  }
  



body {
  margin: 0;
  font-family: Orbitron, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f5f6;
  color: rgba(15, 35, 93, 0.828);
  overflow-x: hidden;
}
#root {
  min-height: 100vh;
  display: flex;
}



h1 {
  font-size: 5rem;
  font-weight: 900;
  margin: 0;
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }
}

.unsupported-network {
  width: 340px;
  max-width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: auto;
  padding: 1rem;
}

.error {
  width: 340px;
  max-width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: auto;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #f00;
}

.landing,
.connect-wallet,
.mint-nft,
.member-page {
  flex-direction: column;
  width: 960px;
  max-width: calc(100% - 1rem);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: auto;
  align-content: center;
  display: flex;
  text-align: center;
}

.member-page > div {
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: left;
  gap: 2rem;
}
.member-page > div > div {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 1rem;
}
@media screen and (max-width: 768px) {
  .member-page > div {
    flex-direction: column;
  }
  .member-page > div > div {
    width: 100%;
  }
}

.member-page form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.member-page form > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.member-page form h5 {
  margin-top: 0;
  color: #031149;
}

.member-page form .card > div {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.member-page form small {
  text-align: center;
  
}

.card {
  background-color: #fff;
  padding: 1rem;
  font-size: normal;
  width: 500px;
  text-align:10px;
  border-radius: 1rem;
  color: #000;
  box-shadow: 3.1px 6.2px 6.2px hsl(0deg 0% 0% / 0.4);
}

.card-content{
margin :-auto

}




.btn-hero {
  margin: auto;
  width: 450px;
  
}

button {
  cursor: pointer;
  background-color: rgb(6, 61, 138);
  color: #fff;
  border: none;
  font-weight: bold;
  font-family: inherit;
  padding: 1.2rem 2rem;
  text-transform: uppercase;
  border-radius: 3rem;
  font-size: 1.2rem;
}

button:hover {
  background-color: #033846;
}

button:focus {
  background-color: rgb(73, 3, 14);
}

button:disabled {
  opacity: 0.8;
  pointer-events: none;
}
 
  /* Style for VoteCounter component */
  .vote-counter {
    font-size: 10px;
    font-weight: medium;
    color: #2152a6;
    margin: auto;
    width:fit-content;
    position: center;
    align-content: center;
  }
  
  

  .progress bar{
    background-color: #0616c3;
    position: center;
    border-radius: 2px;
    width: 425px;
    position: center;
    height: 40px;
    margin: 0px;;
    overflow: hidden;
  }
  
 
  
  
.Against {
  height: 100%;
  background-color: #711414;
  float: left;
}

.For {
  height: 100%;
  background-color: #0711a7fe;
  float: left;
}

.Abstain {
  height: 100%;
  background-color: #9a9995;
  float: left;
}
.freelance-card {
 
  bottom: 20px;
  left: 80px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 2;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(21, 5, 243, 0.814);
  padding: 20px;
}

.freelance-card__header {
  margin-bottom: 10px;
}

.freelance-card__title {
  font-size: 20px;
  margin: 0;
}

.freelance-card__text {
  font-size: 16px;
  margin: 0;
}

.freelance-card__footer {
  margin-top: 20px;
}

.freelance-card__button {
  display: inline-block;
  position: relative;
  background-color: #1e66b2;
  color: #fff;
  border: none;
  border-radius: 3;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
}

.freelance-card__button:hover {
  background-color: #0062cc;
}
